@import ../../node_modules/breakpoint-sass/stylesheets/breakpoint

html
  font-size: 16px

body
  *
    box-sizing: border-box

.break-point
  +breakpoint( 768px ) //min-width 768px
  +breakpoint( 600px 1024px )// min-width 600px to 1024px
    background-color: gray

.card
  max-width: 100%
  position: relative
  display: flex
  flex-direction: column
  width: 290px
  min-height: 0
  background: #fff
  padding: 0
  border: none
  border-radius: .28571429rem
  border: 1px solid #939393
  