html {
  font-size: 16px; }

body * {
  box-sizing: border-box; }

@media (min-width: 600px) and (max-width: 1024px) {
  .break-point {
    background-color: gray; } }

.card {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  min-height: 0;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  border: 1px solid #939393; }
